<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <img src="https://images.pexels.com/photos/42148/pexels-photo-42148.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-responsive" alt="responsive image">
      <div class="caption">
        <h3>About Me</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div> 
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Michael Xavier</h3>
        <ul>
          <li>Went to <a href="#">University of Toronto</a></li>
          <li>Became friends with <a href="#">Yomi</a></li>
          <li>Works at <a href="#">Launch Detected</a></li>
          <li>Lives in <a href="#">Barcelona, Spain</a></li>
          <li>From <a href="#">Toronto, Canada</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Photos</h3>
        <div class="thumbnail">
          <img src="https://images.pexels.com/photos/29732/pexels-photo-29732.jpg?w=1260&h=750&auto=compress&cs=tinysrgb" class="img-responsive" alt="responsive image">
        </div>
        <div class="thumbnail">
          <img src="https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-responsive" alt="responsive image">
        </div>
        <div class="thumbnail">
          <img src="https://images.pexels.com/photos/87769/animal-brown-cold-creature-87769.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-responsive" alt="responsive image">
        </div>
        <div class="thumbnail">
          <img src="https://images.pexels.com/photos/208032/pexels-photo-208032.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-responsive" alt="responsive image">
        </div>
      </div>
    </div>
  </div>
</div>