<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Michael Xavier</h3>
        <img src="https://images.pexels.com/photos/48694/pexels-photo-48694.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-responsive" alt="responsive image">
        <p>It might be time to visit Iceland.</p>
        <p> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
      </div>
    </div>
  </div>
</div>