<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">

    <!-- Navigation -->
    <% include partials/template/navigation.ejs %>
    
    <div class="container">

      <div class="row">
        <div class="col-sm-3">
        <% include partials/template/leftsidebar.ejs %>
        </div>

        <div class="col-sm-6">
        Page ID: <%= pageID %><br/>

        <% allArticles.forEach(function(item) { %>
            <a href="/articles/<%= item.shortname %>"><%= item.name %></a><br/>
          <% }); %>

        <br/>
        <% include partials/template/newsfeed.ejs %>
        </div><!-- primary -->

        <div class="col-sm-3">
        <% include partials/template/rightsidebar.ejs %>

        </div><!-- secondary -->
      </div>
    </div><!-- container -->
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
